:root {
    --main-color: #0D385C;
    --secondary-color: #FFA538;
    --third-color:#2FB9C6;
    --shadow: 5px 5px 10px rgba(0,0,0,.15);
    --title-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Roboto',sans-serif;
   

}

@media (max-width: 576px){
    .my-name{
        text-align: center;
    }
   #container{
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
   }
   img{
    display: none;
   }
}

body{
    text-align: center;
   }


h1 {
    font-family: var(--title-font);
    color: var(--main-color);
    font-size: 60px;
    margin-bottom: 0;
    
}
h2 {
    font-family: var(--paragraph-font);
    margin: 10px auto;
    color: var(--third-color);
    font-size: 20px;
    font-weight: bold;

}
h4 {
    color: var(--secondary-color);
    font-weight: bold;
    text-align: left;

}

p {
    color: var(--main-color);

}
img {

    display: block;
    float: right;
    margin: 0 auto;
}

ul {
    text-align: left;
        margin-left:-30px;
        list-style: none;
    
             
}

li {
    display: inline;
    margin: 0 auto;
    padding:5px; 
    }

p a{
    font-size: 16px;
    margin-top:0;
    font-family: var(--paragraph-font);
    color:var(--secondary-color);
    text-decoration: none;
}

footer {
    font-size: 12px;
    text-align: right;
    font-family: var(--paragraph-font);
    margin-right: 50px;
    margin-bottom: -30px;
    text-decoration: none;
}
footer a{
    text-decoration: none;
    color: var(--secondary-color);
    margin-top: 15px;
    padding: 15px;
}
footer a:hover{
    color:var(--main-color);
    
}

button {
    font-family: var(--paragraph-font);
    box-shadow: var(--shadow);
    background-color: var(--secondary-color);
    color: white;
    border:none;
    font-size: 14px;
    padding: 6px 16px;
    border-radius: 15px;
    }

button:hover{
    background-color: var(--main-color);
}

button a{
    text-decoration: none;
    color:white;
    }


#about-me-description {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: var(--paragraph-font);
    
}

#coder-name {
    text-align: left;
    margin-top: 109px;

}
#projects {
    margin: 70px auto;
}

#project-picture{
    
    box-shadow: var(--shadow);
}

#project-picture:hover{
    opacity:80%;
      
}

#project-description{
    text-align: left;
}



.home-button{
    display: block;
    width:50px;
}

.home-button:hover{
    opacity: 50%;
    
  
}

#project-grid{
    margin: 30px auto;
}

