:root {
    --main-color: #0D385C;
    --secondary-color: #FFA538;
    --third-color:#2FB9C6;
    --shadow: 5px 5px 10px rgba(0,0,0,.15);
    --title-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Roboto',sans-serif;
   

}

body{
    text-align: center;
   }

#container {
    max-width: 1200px;
    background-color: white;
    margin:60px auto;
    box-shadow: var(--shadow);
    
    border-radius: 15px;
    }


h1 {
    font-family: var(--title-font);
    color: var(--main-color);
    font-size: 60px;
    margin-bottom: 0;
    
    
}
.my-name{
    text-align: left;
    vertical-align: middle;
       
}
#my-name{
    margin-top: 110px;
}

.main-image{
    display: block;
    float: right;
}
#main-text{
    margin-top: 50px;
}
h2 {
    font-family: var(--paragraph-font);
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 30px;
}

h3 {
    font-family: var(--paragraph-font);
    margin: 10px auto;
    color:var(--third-color);
    font-size: 20px;
    
}

ul {
    text-align: right;
        margin: -15px auto;
        list-style: none;
        padding-inline-start: 0;
        margin-right:20px;
       
}

li {

    display: inline;
    margin: 0 auto;
    padding:5px; 
    }

p a{
    font-size: 16px;
    margin-top:0;
    font-family: var(--paragraph-font);
    color:var(--secondary-color);
    text-decoration: none;
}

footer {
    font-size: 12px;
    text-align: right;
    font-family: var(--paragraph-font);
    margin-right: 50px;
    margin-bottom: -30px;
    text-decoration: none;
}
footer a{
    text-decoration: none;
    color: var(--secondary-color);
    margin-top: 15px;
    padding: 15px;
}
footer a:hover{
    color:var(--main-color);
    
}

button {
    font-family: var(--paragraph-font);
    box-shadow: var(--shadow);
    background-color: var(--secondary-color);
    color: white;
    border:none;
    font-size: 14px;
    padding: 6px 16px;
    border-radius: 15px;
    }

button:hover{
    background-color: var(--main-color);
}

button a{
    text-decoration: none;
    color:white;
    }


#about-me-description {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: var(--paragraph-font);
    
}
img{

    display: block;
}

#project-picture{
    
    box-shadow: var(--shadow);
}

#project-picture:hover{
    opacity:80%;    
}

h4{
    color: var(--secondary-color);
    font-weight: bold;

}

p{
    color: var(--main-color);

}

.home-button{
    display: block;
}

.home-button:hover{
    opacity: 50%;
    
  
}

.projects{
    margin-top: 150px;
}